<section class="casedetailwrapper">
  
    <app-innertop>
        <h1 class="innerHading">Case Studies Details</h1>
        <ol class="breadcrumb bg-transparent innerLink">
            <li class="breadcrumb-item"><a routerLink="/home">Home</a></li>
            <li class="breadcrumb-item"><a routerLink="/casestudy">Case Study</a></li>
            <li class="breadcrumb-item" aria-current="page">Case Studies Details</li>
          </ol>
    </app-innertop>

<div class="break"></div>
<div class="casedetailinner">
    <div class="container">
        <div class="row">
            <div class="col-md-8">
                <div class="servicedetail">
                  <img src="assets/images/services-details1.jpg">
                </div>
                <div class="break"></div>
                <div class="section-text text-left">
                  <span>
                    AI & ML Development
                  </span>
                  <h1>About this Services</h1>
                  <p>Improve Machine Learning algorithms by studying underfitting, overfitting, training, validation, n-fold cross validation, testing, and how hyperparameters could improve performance. Perform linear and logistic regressions in Python.</p>
                </div>
                <div class="row">
                  <div class="col-md-6">
                    <div class="servicedetailsinnerimg ">
                      <img src="assets/images/project-start.png">
                    </div>
                  </div>
            
                  <div class="col-md-6">
                    <div class="servicedetailsinnertext section-text text-left">
                      <h1>Important Facts</h1>
                      <ul>
                        <li>The Field of Data Science</li>
                        <li>The Problem</li>
                        <li>The Solution</li>
                        <li>The Skills</li>
                        <li>Statistics</li>
                      </ul>
                    </div>
                  </div>
          
                  <div class="section-text text-left">
                    <p>It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout. The point of using Lorem Ipsum is that it has a more-or-less normal distribution of letters, as opposed to using ‘Content here, content here’, making it look like readable English. Latin words, combined with a handful of model sentence structures, to generate Lorem Ipsum which looks reasonable.</p>
                  </div>
                </div>
                
              </div>
              <div class="col-md-4">
                  <div class="casedetailside">
                      <ul>
                          <li>
                            <i class="fa fa-user-circle" aria-hidden="true"></i>
                            <div class="caseadd">
                                <h4>Client:</h4>
                                <p>EnvyTheme.com</p>
                                <p>ThemeForest.com</p>
                            </div>
                          </li>
                          <li>
                            <i class="fa fa-map-marker" aria-hidden="true"></i>
                            <div class="caseadd">
                                <h4> Location:</h4>
                                <p>New York, USA</p>
                            </div>
                          </li>
                          <li>
                            <i class="fa fa-tag" aria-hidden="true"></i>
                            <div class="caseadd">
                                <h4>Technologies:</h4>
                                <p>Python, Data Science</p>
                            </div>
                          </li>
                          <li>
                            <i class="fa fa-check" aria-hidden="true"></i>
                            <div class="caseadd">
                                <h4>Completed:</h4>
                                <p>28 April 2020</p>
                            </div>
                          </li>
                          <li>
                            <i class="fa fa-bullseye" aria-hidden="true"></i>
                            <div class="caseadd">
                                <h4>Website:</h4>
                                <p>EnvyTheme.com</p>
                            </div>
                          </li>
                      </ul>
                  </div>
              </div>
        </div>
    </div>
</div>

    <app-footer></app-footer>
   </section>
