<nav class="navbar navbar-expand-lg navscroll">
    <a class="navbar-brand" routerLink="/home"><img src="assets/images/logo.png" alt="" class="logo"> </a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
  
    <div class="collapse navbar-collapse main-menu" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item">
          <a class="nav-link" routerLink="/home" routerLinkActive="active" [routerLinkActiveOptions]="{exact:true}">Home </a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/about" routerLinkActive="active">About</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/service" routerLinkActive="active">Service</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" routerLink="/casestudy" routerLinkActive="active">Case Studies</a>
        </li>

        <li class="nav-item">
          <a class="nav-link" routerLink="/blog" routerLinkActive="active">Blogs</a>
      </li>

        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            Pages
          </a>
          <div class="dropdown-menu" aria-labelledby="navbarDropdown">
            <a class="dropdown-item" routerLink="/contact" routerLinkActive="active">Contact</a>
            <a class="dropdown-item" href="#">Login/Register</a>
            <a class="dropdown-item" href="#">Privacy Policy</a>
            <a class="dropdown-item" href="#">Terms of Service</a>
          </div>
        </li>
        
       
      </ul>
      <form class="form-inline mr-4">
        <div class="input-group search-input">
          <input type="search" class="form-control" placeholder="Search for anything" >
          <div class="input-group-append">
            <button class="btn" type="button">
              <i class="fa fa-search" aria-hidden="true"></i>
            </button>
          </div>
        </div>
      </form>

      <button class="btn main-btn" type="button">
        <i class="fa fa-arrow-right" aria-hidden="true"></i>  Get Strated
      </button>

    </div>
  </nav>
  <router-outlet></router-outlet>