<div class="footer">
    <div class="container">
        <div class="row">
            <div class="col-md-3">
                <div class="footer1">
                <a href="#"> <img src="assets/images/logo.png" alt=""> </a>
                <p>Lorem ipsum dolor sit amet, consectetur elit, sed do eiusmod
                    tempor incididunt ut labore et dolore magna aliqua. Quis ipsum suspendisse.</p>
                    <i class="fa fa-facebook-square" aria-hidden="true"></i>
                    <i class="fa fa-twitter-square" aria-hidden="true"></i>
                    <i class="fa fa-instagram" aria-hidden="true"></i>
                    <i class="fa fa-linkedin-square" aria-hidden="true"></i>
                </div>
            </div>
            <div class="col-md-3">
                <div class="footer2">
                    <h4>
                        Explore
                    </h4>
                    <ul>
                        <li>Home</li>
                        <li>About</li>
                        <li>Case Studies</li>
                        <li>Our Blog</li>
                        <li>Contact</li>
                    </ul>
                </div>
            </div>
            <div class="col-md-3">
                <div class="footer2">
                    <h4>
                        Resources
                    </h4>
                    <ul>
                        <li>Our Scientists</li>
                        <li>Our Services</li>
                        <li>Testimonials</li>
                        <li>SaaS Solutions</li>
                        <li>Case Studies</li>
                    </ul>
                </div>
            </div>
            <div class="col-md-3">
                <div class="footer2">
                    <h4>
                        Address
                    </h4>
                    <ul>
                        <li><i class="fa fa-map-marker" aria-hidden="true"></i> 175 5th Ave, New York, NY 10010,
                            United States</li>
                        <li><i class="fa fa-phone" aria-hidden="true"></i> +1 (123) 456 7890</li>
                        <li><i class="fa fa-envelope-o" aria-hidden="true"></i> hello@rewy.com</li>
                        <li><i class="fa fa-picture-o" aria-hidden="true"></i> +55 785 4578964</li>
                    </ul>
                </div>
            </div>
            <div class="col-md-12"><hr></div>
            
            <div class="col-md-6">
            <div class="lastfooter">
                <p> Copyright @2021 Vijay Kaushik All rights reserved</p>
            </div>
            </div>
            <div class="col-md-6">
                <p class="text-right">Privacy Policy | Terms & Conditions</p>
            </div>
        </div>
    </div>
</div>
