<section class="aboutwrapper">
 <app-innertop>
            <h1 class="innerHading">About Us</h1>
            <ol class="breadcrumb bg-transparent innerLink">
                <li class="breadcrumb-item"><a href="#">Home</a></li>
                <li class="breadcrumb-item" aria-current="page">About Us</li>
              </ol>
            </app-innertop>
    
            
    <div class="break"></div>

    <div class="container">
        <div class="row">
            <div class="col-md-6">
                <div class="main-img">
                    <img src="assets/images/about-img.png" alt="">
                </div>
                
            </div>
            <div class="col-md-6">
                <div class="section-text text-left">
                    <span>
                        <img src="assets/images/section-icon.png" alt=""> 
                        ABOUT US
                    </span>
                    <h1>Drive Digital Revolution Through Data Scienc</h1>
                    <p>Lorem ipsum dolor sit amet, consectetur
                        adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna.</p>
                </div>
                <div class="ourExperience">
                    <div class="row">
                        <div class="col-md-6" *ngFor="let aboutDeatils of Experince">
                            <div class="exdetails">
                                <img src="{{aboutDeatils.Eimg}}">
                                <div class="exdetails-inner">
                                    <h2>{{aboutDeatils.Edetail}}</h2>
                                    <span>{{aboutDeatils.EdetailIN}}</span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <p>Lorem ipsum dolor sit amet, consectetur
                    adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna.</p>
                    <button type="button" class="btn main-btn"><i aria-hidden="true" class="fa fa-arrow-right"></i> More About Us </button>
            </div>
        </div>

        <div class="break"></div>
    </div>

    <section class="OurHistory sectionBG ">
        <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="section-text">
                    <span>
                        <img src="assets/images/section-icon.png" alt=""> 
                        OUR HISTORY
                    </span>
                    <h1>History Begins in 2017</h1>
                    <p>Lorem ipsum dolor sit amet, consectetur
                        adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna.</p>
                </div>
                <div class="break"></div>
            </div>
            </div>
           <div class="row d-flex">
            <div class="col-md-2">
                <div class="historyDate" *ngFor="let Historymain of HistoryDate">
                    <h6>{{Historymain.Hyear}}</h6>
                    <p>{{Historymain.Hdate}}</p>
                </div>
            </div>
            <div class="col-md-10">
                <div class="historyDetails">
                    <ul>
                        <li *ngFor="let historyData of Hdetails">
                            <span>
                                <h2>{{historyData.hdetails}}</h2>
                                <p>{{historyData.Hpara}}</p>
                            </span>
                           <div class="Himg">
                            <img src="{{historyData.Himg}}" alt="">
                           </div>
                           
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    </section>

</section>

<app-footer></app-footer>
