<section class="servicedetailswrapper">
  <app-innertop>
    <h1 class="innerHading">Services</h1>
    <ol class="breadcrumb bg-transparent innerLink">
        <li class="breadcrumb-item"><a href="#" routerLink="/home">Home</a></li>
        <li class="breadcrumb-item"><a href="#" routerLink="/service">Service</a></li>
        <li class="breadcrumb-item" aria-current="page">Service Details</li>
      </ol>
</app-innertop>
<div class="break"></div>

<div class="container">
  <div class="row">
    <div class="col-md-8">
      <div class="servicedetail">
        <img src="assets/images/services-details1.jpg">
      </div>
      <div class="break"></div>
      <div class="section-text text-left">
        <span>
          AI & ML Development
        </span>
        <h1>About this Services</h1>
        <p>Improve Machine Learning algorithms by studying underfitting, overfitting, training, validation, n-fold cross validation, testing, and how hyperparameters could improve performance. Perform linear and logistic regressions in Python.</p>
      </div>
      <div class="row">
        <div class="col-md-6">
          <div class="servicedetailsinnerimg ">
            <img src="assets/images/project-start.png">
          </div>
        </div>
  
        <div class="col-md-6">
          <div class="servicedetailsinnertext section-text text-left">
            <h1>Important Facts</h1>
            <ul>
              <li>The Field of Data Science</li>
              <li>The Problem</li>
              <li>The Solution</li>
              <li>The Skills</li>
              <li>Statistics</li>
            </ul>
          </div>
        </div>

        <div class="section-text text-left">
          <p>It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout. The point of using Lorem Ipsum is that it has a more-or-less normal distribution of letters, as opposed to using ‘Content here, content here’, making it look like readable English. Latin words, combined with a handful of model sentence structures, to generate Lorem Ipsum which looks reasonable.</p>
        </div>
      </div>
      
    </div>

<div class="col-md-4">
<div class="servicedetailsright">
  <ul>
    <li>AI & ML Development <i class="fa fa-chevron-right" aria-hidden="true"></i></li>
    <li>Data Analytics <i class="fa fa-chevron-right" aria-hidden="true"></i></li>
    <li>Data Science <i class="fa fa-chevron-right" aria-hidden="true"></i></li>
    <li>Artificial Intelligence <i class="fa fa-chevron-right" aria-hidden="true"></i></li>
    <li>Data Visualization <i class="fa fa-chevron-right" aria-hidden="true"></i></li>
  </ul>
</div>
<div class="servicedetailsright">
  <h4 class="p-3">Brochures</h4>
  <ul>
    <li>PDF Download  <i class="fa fa-file-pdf-o" aria-hidden="true"></i></li>
    <li>Services Details.txt  <i class="fa fa-file-pdf-o" aria-hidden="true"></i></li>
  </ul>
</div>
</div>

  </div>
</div>

</section>


<app-footer></app-footer>