
<section class="servicewrapper">
    <app-innertop>
        <h1 class="innerHading">Services</h1>
        <ol class="breadcrumb bg-transparent innerLink">
            <li class="breadcrumb-item"><a href="#">Home</a></li>
            <li class="breadcrumb-item" aria-current="page">Services</li>
          </ol>
    </app-innertop>

    <div class="container">
        <div class="row">
            <div class="col-md-4">
               <app-card>
                <i aria-hidden="true" class="fa fa-rocket"></i>
                <h1> Startup Applications</h1>   
                <a class="mainanchor" href="">View Details</a>
            </app-card> 
            </div>
            <div class="col-md-4">
                <app-card>
                    <i aria-hidden="true" class="fa fa-laptop"></i>
             <h1>SaaS Solutions</h1> 
             <a class="mainanchor" href="">View Details</a>  
             </app-card> 
             </div>
             <div class="col-md-4">
                <app-card>
                    <i aria-hidden="true" class="fa fa-suitcase"></i>
             <h1>eCommerce Platforms</h1>
             <a class="mainanchor" href="">View Details</a>   
             </app-card> 
             </div>
             <div class="col-md-4">
                <app-card>
                    <i class="fa fa-search-plus" aria-hidden="true"></i>
             <h1>Research</h1>   
             <a class="mainanchor" href="">View Details</a>
             </app-card> 
             </div>
             <div class="col-md-4">
                <app-card>
                    <i class="fa fa-bar-chart" aria-hidden="true"></i>
             <h1>Analytics</h1>   
             <a class="mainanchor" href="">View Details</a>
             </app-card> 
             </div>
             <div class="col-md-4">
                <app-card>
                    <i class="fa fa-cogs" aria-hidden="true"></i>
             <h1>Technology</h1>  
             <a class="mainanchor" href="" routerLink="servicedetails" routerLinkActive="active">View Details</a> 
             </app-card> 
             </div>
        </div>
    </div>

<section class="serBg">
<div class="container">
   <div class="row">
    <div class="col-md-6">
        <div class="serInnerimg">
            <img src="assets/images/project-start.png" alt="">
        </div>
    </div>
    <div class="col-md-6">
        <div class="break"></div>
        <h1 class="text-white">We Like to Start Your Project With Us</h1>
        <p class="text-white">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna.</p>
        <button type="button" class="btn main-btn"><i _ngcontent-mlu-c21="" aria-hidden="true" class="fa fa-arrow-right"></i> Get Strated </button>
    </div>
   </div>
</div>
</section>
<div class="break"></div>
</section>
<app-footer></app-footer>






	
	
	 