.maincontact {
    display: flex;
}
.contacticon i {
    font-size: 36px;
    background: #f2f2f2;
    padding: 20px;
    color: #ff5d22;
    border-radius: 8px;
    margin-right: 20px;
}

.contacticon i:hover {
    background-color:#ff5d22;
    color: #fff;
}
.contactdetails h2 {
    font-size: 24px;
}
.lastConIcon i {
    font-size: 54px;
    color: #848484;
    opacity: 0.1;
    z-index: -99;
}
.contact img {
    max-width: 100%;
}

.contact-form {
    background: #fff;
    padding: 40px;
    box-shadow: 0 0 20px hsl(0deg 0% 62% / 16%);
    border-radius: 5px;
}
.contact-form .form-control {
    height: 54px;
    background: #f2f2f2;
    border: none;
}
.contact-form .form-control:focus {
    height: 54px;
    background: #ffffff;
    border: 1px solid #ff5d22;
    outline: none;
    box-shadow: none;
    
}