<section class="homeWrapper">
    <app-header></app-header>

<div class="container">
    <div class="row align-items-center homesection">
        <div class="col-md-6">
            <div class="header-left">
               <h1>
                Secure IT Solutions Services
               </h1> 
               <p>
                Lorem ipsum dolor sit amet, consectetur adipiscing
                 elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
               </p>
               <button type="button" class="btn main-btn"><i class="fa fa-long-arrow-right" aria-hidden="true"></i> Get Strated </button>
            </div>
        </div>
        <div class="col-md-6">
            <div class="header-right">
                <img src="assets/images/min-header.png" alt="">
            </div>
        </div>
    </div>
</div>

</section>

<section class="solutionwrapper">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="section-text">
                    <span>
                        <img src="assets/images/section-icon.png" alt=""> 
                        OUR SOLUTIONS
                    </span>
                    <h1>We Different From Others Should Choose Us</h1>
                    <p>Lorem ipsum dolor sit amet, consectetur
                        adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna.</p>
                </div>
            </div>

            <div class="col-md-4">
                <app-card></app-card>
            </div>


        </div>
    </div>
</section>

