section.homeWrapper {
    background-image: url(/assets/images/main-header.png);
    height: 800px;
    width: 100%;
    background-size: cover;
    background-position: center;
    display: grid;
}
.header-right img {
    max-width: 600px;
}
.header-left h1 {
    font-size: 3.3rem;
    font-weight: 600;
}
.hostingimg img {
    max-width: 100%;
}
span.hostinD {
    display: flex;
    align-items: center;
    background: #fff;
    box-shadow: 0 0 10px rgb(0 0 0 / 5%);
    margin-bottom: 30px;
    padding: 10px 10px;
}

.hostinD i {
    background: #deecf4;
    padding: 10px 10px;
    border-radius: 5px;
    font-size: 22px;
    margin-right: 14px;
}
.hostinD i:hover {
    background: #ff5d22;
    color: #fff;
}

.hostinD p {
    font-size: 20px;
    margin-bottom: 0;
}
.hostingType ul {
    overflow: hidden;
}

.hostingType li {
    width: 45%;
    float: left;
    margin-right: 26px;
}
.featureCard {
    background: #fff;
    text-align: center;
    padding: 30px;
    margin-bottom: 20px;
}
.featureCard h1 {
    font-size: 1.4rem;
    font-weight: 800;
    margin-top: 20px;
    margin-bottom: 20px;
}
.teamCard img {
    max-width: 100%;
}
.teamCard {
    text-align: center;
    background-color: #fff;
    transition: .5s;
    padding: 10px;
}
.teamCard:hover {
    transform: translateY(-10px);
    box-shadow: 0 2px 28px 0 rgb(0 0 0 / 9%);
}
.teamCard h2 {
    font-size: 26px;
    font-weight: 600;
}

.teamCard h3 {
    font-size: 16px;
    color: #ff5d22;
    font-weight: 600;
    transition: .5s;
}
.teamCard li {
    display: inline;
    padding: 6px 10px;
    font-size: 16px;
    background: #ff5d22;
    margin-left: 5px;
    border-radius: 50%;
    color: #fff;
}
.teamCard ul {
    margin-bottom: 0;
    position: relative;
    top: -40px;
    visibility: hidden;
    opacity: 1;
    transition: .5s;
}
.teamCard:hover ul{
    visibility: visible;
    opacity: 1;
}
.sectionIMG {
    background-image: url(/assets/images/circle-shape1.png);
    width: 100%;
    background-position: right;
    background-repeat: no-repeat;
    padding: 30px;
}